.row {
    max-width: 100%;
    margin: 0;
}
.navigation {
    background: #20222A !important;
    color: #fff ;
    font-size: 17px;
    padding: 0;
}
.navigation .row .title {
    line-height: 50px;
}
.navigation a {
    color: #fff;
}
.navigation .nav .nav-item .nav-link {
    width: 100%;
}
.navigation .nav {
    padding: 0;
    width: 100%;
}